*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

nav{
    width: 100%;
    height: 100px;

}

ul{



}

ul li{
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 100px;


}

ul li a{
    display: block;
    text-decoration: none;
    font-size: 35px;
    font-family: "Blackout";
    color: lime;
    padding: 0 20px;

}

ul li a:hover{
    color: red;


}


body {
    background-color: black;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    color: lime;
    font-family: "Blackout";
    font-size: 55px;

}

@import url(//db.onlinewebfonts.com/c/c54778885c1c75dfee95c47abef40635?family=Blackout);

@font-face {
    font-family: "Blackout";
    src: url("//db.onlinewebfonts.com/t/c54778885c1c75dfee95c47abef40635.eot");
    src: url("//db.onlinewebfonts.com/t/c54778885c1c75dfee95c47abef40635.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c54778885c1c75dfee95c47abef40635.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/c54778885c1c75dfee95c47abef40635.woff") format("woff"), url("//db.onlinewebfonts.com/t/c54778885c1c75dfee95c47abef40635.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/c54778885c1c75dfee95c47abef40635.svg#Blackout") format("svg");
}

